body{
  text-align: center;
}
.navbar {
  background-color:darkslategray;
}
.nav-link{
  
  color:#0d6efd;

}
.nav-link:hover {
  background-color: darkturquoise;
  
}

.nav-link.active {
  background-color:  #0d6efd;
  color:whitesmoke
  
}

#createStatus {
  color:rgb(234, 241, 241);
  font-weight: bold;
  background-color: orangered;
  border: solid 1px orangered;
  padding-left: 5px;
  padding-right: 5px;


}

.success-msg {
  background-color:rgb(40, 175, 6);
  border: solid 1px rgb(40, 175, 6);
  padding-left: 5px;
  padding-right: 5px;

}

